@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/Poppins-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Poppins-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins-ExtraLigth";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Poppins-ExtraLight") format("ttf");
}

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100dvh;
    font-family: Poppins-Medium, sans-serif;
}
input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
svg {
    height: auto;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition-duration: 0.01ms !important;
        transition: none;
    }
}

/* WELCOME */

.carousel-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c3e2dc;
    min-height: 100vh;
}

.react-carousel-card {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.react-carousel {
    flex: 1 1 auto;
}

.react-carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 100%;
}

.carousel .control-dots .dot {
    box-shadow: none;
    background: #6b63ff;
    width: 1rem;
    height: 1rem;
}

.carousel .slide img {
    width: 100%;
    height: 100%;
}

.auth-links {
    display: flex;
    flex-direction: column;
    width: 33.8rem;
    gap: 2.5rem;
}

/* BOTÓN LOGIN Y REGISTER*/

.button-login {
    padding: 0.8rem;
    background: #f37136;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    font-weight: 700;
    border: none;
    transition: all 0.2s;
    font-family: Poppins-Medium, sans-serif;
}

.button-login:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
    transition: 0.5s;
}

.button-login:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
}

.button-register {
    padding: 0.8rem;
    background: #f37136;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    font-weight: 700;
    border: none;
    transition: all 0.2s;
    font-family: Poppins, sans-serif;
}

.button-register:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
    transition: 0.5s;
}

.button-register:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .auth-links {
        width: 28.8rem;
        gap: 2rem;
        margin-top: 1rem;
    }
    .button-login {
        padding: 0.6rem;
    }
    .button-register {
        padding: 0.6rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .react-carousel-card {
        width: 80%;
    }
}

/* COMPONENTE LOGIN */

.container-login-form {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: #093266;
    font-family: Poppins-Bold, sans-serif;
}

.title-login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    background-color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 33.8rem;
}

.login-form h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}

.login-form label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #093266;
    margin-bottom: 1rem;
}

.login-form input {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 2rem;
    border-color: #c3e2dc;
    background-color: #fff !important;
}

.login-form input:focus {
    box-shadow: 0 0 10px #c3e2dc;
    border-color: #c3e2dc;
    outline: #c3e2dc;
}

.login-form input::placeholder {
    color: #cfcaca;
}

.remember-login-form input {
    min-width: 1rem;
}

.remember-form span {
    color: #093266;
}

.link-login {
    color: #093266;
    font-size: 1.2rem;
    text-align: center;
}

.link-login a {
    color: #f37136;
    text-decoration: none;
}
.link-login a:hover {
    color: #f37136;
}

.button-login-form {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
}

.button-login-form .button {
    padding: 0.8rem 14rem;
}
.button-login-form .underline {
    font-size: 1.2rem;
    text-decoration: none;
}

.image-login-form {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3e2dc;
}

.image-login-form img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 992px) {
    .container-login-form {
        flex-direction: column;
        align-items: center;
        background-color: #c3e2dc;
    }

    .title-login-form {
        height: 68vh;
        width: 80%;
        border-radius: 3rem;
        background-color: #fff;
        margin-bottom: 3rem;
    }

    .login-form {
        width: 25.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .login-form h2 {
        font-size: 2rem;
    }
    .login-form label {
        font-size: 1rem;
    }

    .image-login-form {
        width: 100%;
        height: 20rem;
        margin-top: 2rem;
    }

    .image-login-form img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        background-position: center;
        background-color: #c3e2dc;
    }

    .title-login {
        font-size: 2rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 991px) {
    .login-form {
        width: 31.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .button-login-form .button {
        padding: 0.8rem 12.7rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 426px) {
    .login-form {
        width: 25.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .button-login-form .button {
        padding: 0.8rem 9.7rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .login-form {
        width: 20.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .button-login-form .button {
        padding: 0.6rem 7.5rem;
    }
}

/* COMPONENTE REGISTER */

.container-register-form {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: #093266;
    font-family: Poppins-Bold, sans-serif;
}

.title-register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    background-color: #fff;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 33.8rem;
}

.register-form h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.register-form label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #093266;
    margin-bottom: 1rem;
}

.register-form input {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 2rem;
    border-color: #c3e2dc;
    background-color: #fff !important;
}

.register-form input:focus {
    box-shadow: 0 0 10px #c3e2dc;
    border-color: #c3e2dc;
    outline: #c3e2dc;
}

.register-form input::placeholder {
    color: #cfcaca;
}

.link-register {
    color: #093266;
    font-size: 1.2rem;
    text-align: center;
}

.link-register a {
    color: #f37136;
    text-decoration: none;
}
.link-register a:hover {
    color: #f37136;
}

.button-register-form {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 2.8rem;
}

.button-register-form .button {
    padding: 0.8rem 11.3rem;
    white-space: nowrap;
}
.button-register-form .underline {
    font-size: 1.2rem;
    text-decoration: none;
}
.image-register-form {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3e2dc;
}

.image-register-form img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 992px) {
    .container-register-form {
        flex-direction: column;
        align-items: center;
        background-color: #c3e2dc;
    }
    .title-register-form {
        height: 65vh;
        width: 80%;
        border-radius: 3rem;
        background-color: #fff;
        margin-bottom: 3rem;
    }
    .register-form {
        width: 25.8rem;
        gap: 0.1rem;
        margin-top: 1rem;
    }
    .register-form h2 {
        font-size: 2rem;
    }
    .register-form label {
        font-size: 1rem;
    }
    .register-form input {
        padding: 0.8rem;
    }
    .image-register-form {
        width: 100%;
        height: 20rem;
        margin-top: 2rem;
    }

    .image-register-form img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        background-position: center;
        background-color: #c3e2dc;
    }
    .title-register {
        font-size: 2rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 991px) {
    .register-form {
        width: 31.8rem;
    }
    .button-register-form {
        gap: 1rem;
    }
    .button-register-form .button {
        padding: 0.6rem 10.3rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 426px) {
    .register-form {
        width: 25.8rem;
    }
    .button-register-form {
        gap: 1rem;
    }
    .button-register-form .button {
        padding: 0.6rem 7.3rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .register-form {
        width: 20.8rem;
        margin-top: 1rem;
    }
    .register-form input {
        padding: 0.7rem;
    }
    .button-register-form {
        gap: 1rem;
    }
    .button-register-form .button {
        padding: 0.6rem 5.1rem;
        font-size: 1.5rem;
    }
}

/* COMPONENTE PELÍCULAS */

.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.movie-container {
    width: calc(22% - 18px);
    margin-bottom: 20px;
}

.movie-card {
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    cursor: pointer;
    background-color: #000;
    image-rendering: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.movie-card:hover .overlay {
    opacity: 1;
}

.poster-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backdrop-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-card:hover .movie-details {
    opacity: 1;
}

.movie-details p {
    margin: 5px 0;
    text-align: left;
}

.movie-card h3 {
    margin: 10px 0;
}
