@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-ExtraLight";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Raleway-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplay-Bold";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100dvh;
    font-family: Poppins-Regular, sans-serif;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
svg {
    height: auto;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition-duration: 0.01ms !important;
        transition: none;
    }
}

/* WELCOME */

.carousel-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c3e2dc;
    min-height: 100vh;
}

.react-carousel-card {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.react-carousel {
    flex: 1 1 auto;
}

.react-carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    height: 100%;
}

.carousel .control-dots .dot {
    box-shadow: none;
    background: #6b63ff;
    width: 1rem;
    height: 1rem;
}

.carousel .slide img {
    width: 100%;
    height: 100%;
}

.auth-links {
    display: flex;
    flex-direction: column;
    width: 33.8rem;
    gap: 2.5rem;
}

/* BOTÓN LOGIN Y REGISTER*/

.button-login {
    padding: 0.8rem;
    background: #f37136;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    border: none;
    transition: all 0.2s;
    font-family: Poppins-SemiBold, sans-serif;
}

.button-login:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
    transition: 0.5s;
}

.button-login:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
}

.button-register {
    padding: 0.8rem;
    background: #f37136;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    border: none;
    transition: all 0.2s;
    font-family: Poppins-SemiBold, sans-serif;
}

.button-register:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
    transition: 0.5s;
}

.button-register:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .auth-links {
        width: 28.8rem;
        gap: 2rem;
        margin-top: 1rem;
    }
    .button-login {
        padding: 0.6rem;
    }
    .button-register {
        padding: 0.6rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .react-carousel-card {
        width: 80%;
    }
}

/* COMPONENTE LOGIN */

.container-login-form {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: #093266;
    font-family: Poppins-SemiBold, sans-serif;
}

.title-login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    background-color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 33.8rem;
}

.login-form h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}

.login-form label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #093266;
    margin-bottom: 1rem;
}

.login-form input {
    font-size: 1.6rem;
    padding: 0.7rem;
    border-radius: 2rem;
    border-color: #c3e2dc;
    background-color: #fff;
    font-family: Poppins-Regular, sans-serif;
}

.login-form input:focus {
    box-shadow: 0 0 1rem #c3e2dc;
    border-color: #c3e2dc;
    outline: #c3e2dc;
}

.login-form input::placeholder {
    color: #cfcaca;
}

.remember-login-form input {
    min-width: 1rem;
}

.remember-login-form span {
    color: #093266;
}

.link-login {
    color: #093266;
    font-size: 1.2rem;
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
}

.link-login a {
    color: #f37136;
    text-decoration: none;
}
.link-login a:hover {
    color: #f37136;
}

.button-login-form {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
}

.button-login-form .button {
    padding: 0.8rem 13.5rem;
}
.button-login-form .underline {
    font-size: 1.2rem;
    text-decoration: none;
    font-family: Poppins-Regular, sans-serif;
}

.image-login-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3e2dc;
}

.image-login-form img {
    object-fit: cover;
    width: 100%;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .container-login-form {
        flex-direction: column;
        align-items: center;
        background-color: #c3e2dc;
    }

    .title-login-form {
        height: 68vh;
        width: 80%;
        border-radius: 3rem;
        background-color: #fff;
        margin-bottom: 3rem;
    }

    .login-form {
        width: 25.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .login-form h2 {
        font-size: 2rem;
    }
    .login-form label {
        font-size: 1rem;
    }

    .image-login-form {
        width: 100%;
        height: 20rem;
        margin-top: 2rem;
    }

    .image-login-form img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        background-position: center;
        background-color: #c3e2dc;
    }

    .title-login {
        font-size: 2rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 991px) {
    .login-form {
        width: 31.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .button-login-form .button {
        padding: 0.8rem 12.7rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 426px) {
    .login-form {
        width: 25.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .button-login-form .button {
        padding: 0.8rem 9.7rem;
    }
}

@media screen and (max-width: 375px) {
    .login-form {
        width: 20.8rem;
        gap: 0.6rem;
        margin-top: 1rem;
    }
    .button-login-form .button {
        padding: 0.6rem 7.5rem;
    }
}

/* COMPONENTE REGISTER */

.container-register-form {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: #093266;
    font-family: Poppins-SemiBold, sans-serif;
}

.title-register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    background-color: #fff;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 33.8rem;
}

.register-form h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.register-form label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #093266;
    margin-bottom: 1rem;
}

.register-form input {
    font-size: 1.6rem;
    padding: 0.7rem;
    border-radius: 2rem;
    border-color: #c3e2dc;
    background-color: #fff;
    font-family: Poppins-Regular, sans-serif;
}

.register-form input:focus {
    box-shadow: 0 0 1rem #c3e2dc;
    border-color: #c3e2dc;
    outline: #c3e2dc;
}

.register-form input::placeholder {
    color: #cfcaca;
}

.link-register {
    color: #093266;
    font-size: 1.2rem;
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
}

.link-register a {
    color: #f37136;
    text-decoration: none;
}
.link-register a:hover {
    color: #f37136;
}

.button-register-form {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 2.8rem;
}

.button-register-form .button {
    padding: 0.8rem 10.9rem;
    white-space: nowrap;
}
.button-register-form .underline {
    font-size: 1.2rem;
    text-decoration: none;
}
.image-register-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3e2dc;
}

.image-register-form img {
    object-fit: cover;
    width: 100%;
    background-position: center;
}

@media screen and (max-width: 992px) {
    .container-register-form {
        flex-direction: column;
        align-items: center;
        background-color: #c3e2dc;
    }
    .title-register-form {
        height: 65vh;
        width: 80%;
        border-radius: 3rem;
        background-color: #fff;
        margin-bottom: 3rem;
    }
    .register-form {
        width: 25.8rem;
        gap: 0.1rem;
        margin-top: 1rem;
    }
    .register-form h2 {
        font-size: 2rem;
    }
    .register-form label {
        font-size: 1rem;
    }
    .register-form input {
        padding: 0.6rem;
    }
    .image-register-form {
        width: 100%;
        height: 20rem;
        margin-top: 2rem;
    }

    .image-register-form img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        background-position: center;
        background-color: #c3e2dc;
    }
    .title-register {
        font-size: 2rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 991px) {
    .register-form {
        width: 31.8rem;
    }
    .button-register-form {
        gap: 1rem;
    }
    .button-register-form .button {
        padding: 0.6rem 9.8rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 426px) {
    .register-form {
        width: 25.8rem;
    }
    .button-register-form {
        gap: 1rem;
    }
    .button-register-form .button {
        padding: 0.6rem 7.3rem;
    }
}

@media screen and (max-width: 375px) {
    .register-form {
        width: 20.8rem;
        margin-top: 1rem;
    }
    .register-form input {
        padding: 0.5rem;
    }
    .button-register-form {
        gap: 1rem;
    }
    .button-register-form .button {
        padding: 0.7rem 4.7rem;
        font-size: 1.5rem;
    }
    .link-register {
        white-space: nowrap;
    }
}

/* DASHBOARD/INICIO */

.bg-gray-100 {
    background-color: #fff;
}

.home-container {
    width: 100%;
    padding: 0;
    height: auto;
}
.home-container-image {
    padding: 0;
}

.home-container-image img {
    object-fit: cover;
}

.home-container-text {
    text-align: center;
    padding: 10rem 0rem 3rem 0rem;
}
.home-container-firsttext {
    font-family: Raleway-ExtraLight, sans-serif;
    margin-right: 1rem;
    font-size: 4rem;
    color: #093266;
}
.home-container-secondtext {
    font-family: PlayfairDisplay-Bold, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: #093266;
}

.home-container-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-container {
    width: 28.33%;
    padding: 5rem 2rem;
    text-align: center;
}

.icon-container h3 {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 2rem;
    color: #093266;
}

.icon-container p {
    font-family: Raleway-Regular, sans-serif;
    font-size: 1.6rem;
    color: #093266;
}

.icon-container img {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 1640px) {
    .home-container-image {
        display: flex;
        justify-content: center;
        background-color: #c3e2dc;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .home-container-firsttext {
        font-size: 3rem;
    }
    .home-container-secondtext {
        font-size: 3rem;
    }
    .home-container-icons {
        flex-direction: column;
    }
    .icon-container {
        width: 44%;
        padding: 2rem 0rem;
    }
    .icon-container h3 {
        font-size: 1.7rem;
    }
    .icon-container p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 576px) {
    .home-container-icons {
        flex-direction: column;
    }
    .icon-container {
        width: 65%;
        padding: 2rem 0rem;
    }
    .icon-container h3 {
        font-size: 1.6rem;
    }
    .icon-container p {
        font-size: 1.3rem;
    }

    .home-container-firsttext {
        font-size: 3rem;
    }
    .home-container-secondtext {
        font-size: 3rem;
    }
    .home-container-image img {
        height: 100vh;
        background-image: url(images/Home-Friendflix.svg);
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

/* ALERTAS */
.status-message {
    background-color: #38a169;
    padding: 1rem;
}
.bg-green-500 {
    font-size: 1.5rem;
    font-family: Poppins-Regular, sans-serif;
}

.alert-message-info {
    font-size: 2rem;
    font-family: Poppins-Regular, sans-serif;
    display: flex;
    justify-content: center;
    padding: 4rem;
    color: #093266;
}

.alert-recommendations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.alert-recommendations img {
    width: 10rem;
}

.alert-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}
.alert-info img {
    width: 10rem;
}
.alert-message-recommendations {
    font-size: 2rem;
    font-family: Poppins-Regular, sans-serif;
    display: flex;
    justify-content: center;
    padding: 4rem;
    color: #093266;
}

/* COMPONENTE NAVLINK */

.main-nav {
    background-color: #c3e2dc;
    border-bottom: 0.1rem solid #f37136;
    padding: 0.5rem 0;
}

.nav-container {
    height: 100%;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    order: 1;
    width: 13rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem 0.5rem;
    gap: 7rem;
    font-family: Raleway-Bold, sans-serif;
    white-space: nowrap;
}

.nav-link {
    order: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.2rem solid transparent;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #f37136;
    gap: 8rem;
}

.nav-links a:active {
    border-color: #f37136;
    color: #f37136;
}

.nav-links a:hover {
    border-color: #f37136;
    color: #f37136;
}

.inline-flex button {
    background-color: #c3e2dc;
    color: #f37136;
    text-transform: uppercase;
    font-family: Raleway-Bold, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-left: 5rem;
}
.inline-flex button:hover {
    color: #f37136;
}

.rounded-md a {
    font-size: 1.4rem;
}
.rounded-md a:hover {
    color: #f37136;
    background-color: #fff;
}
.rounded-md button {
    font-size: 1.4rem;
}
.rounded-md button:hover {
    color: #f37136;
    background-color: #fff;
}
.logo-container-2 img {
    display: none;
}

@media screen and (min-width: 877px) and (max-width: 1069px) {
    .nav-links {
        gap: 4rem;
        font-size: 1rem;
    }
    .inline-flex button {
        font-size: 1rem;
        margin-left: 2rem;
    }
    .rounded-md a {
        font-size: 1rem;
    }
    .rounded-md button {
        font-size: 1rem;
    }
}

@media screen and (min-width: 639px) and (max-width: 876px) {
    .logo-container {
        width: 10rem;
    }
    .nav-links {
        gap: 1rem;
        font-size: 0.9rem;
    }
    .inline-flex button {
        font-size: 0.9rem;
        margin-left: 0.1rem;
    }
    .rounded-md a {
        font-size: 0.9rem;
    }
    .rounded-md button {
        font-size: 0.9rem;
    }
    #nav-starts {
        padding: 0.4rem !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 639px) {
    .responsive-nav-text {
        text-transform: uppercase;
    }
    .nav-content {
        display: flex;
        justify-content: space-between;
    }
    .nav-container {
        padding: 0.5rem 2rem;
    }
    .nav-links {
        display: none;
    }
    .logo-container-2 img {
        width: 6rem;
        display: block;
    }
    .button-mobile,
    button:active {
        color: #f37136;
    }
    .block a {
        color: #093266;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .block a:hover,
    a:active {
        color: #f37136;
    }
    .px-4 div {
        color: #093266;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .mt-3 button {
        color: #093266;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .mt-3 button:hover,
    button:active {
        color: #f37136;
    }
}

#nav-starts {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border: 0.2rem solid #f37136;
    gap: 0.3rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#nav-starts:hover {
    background-color: #f37136;
    color: #ffffff;
    border-color: #f37136;
}

#nav-responsive-starts {
    color: #f37136;
}

/* COMPONENTE CARD DE AMIGOS */

.container-friends-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8rem 8rem;
    flex-wrap: wrap;
    gap: 6rem;
}

.friends-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54rem;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 3rem;
    border: 0.4rem solid #c3e2dc;
    color: #093266;
    cursor: pointer;
}

.friends-card-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.more-button {
    padding: 0.9rem 3rem;
    font-size: 1.6rem;
    background: #ffffff;
    color: #f37136;
    border-radius: 2.4rem;
    font-family: Poppins-SemiBold, sans-serif;
    transition: all 0.2s;
    cursor: pointer;
    border: #f37136 0.3rem solid;
}

.more-button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #f37136;
    color: #fff;
    transition: 0.5s;
    border: none;
}

.more-button:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #f37136;
    color: #fff;
}

.friends-card img {
    max-width: 22rem;
    width: 35vw;
    height: 24rem;
    object-fit: cover;
    margin-left: -6rem;
    margin-right: 3rem;
    border-radius: 3rem;
    box-shadow: 0 6rem 4rem rgb(0 0 0 / 8%);
}

.friends-card-text h3 {
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: 0;
    margin-right: 3rem;
    margin-bottom: 1rem;
    font-family: Raleway-Bold, sans-serif;
    white-space: nowrap;
}

.friends-card-text p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    opacity: 0.8;
    font-family: Raleway-Regular, sans-serif;
    color: #093266;
    white-space: nowrap;
    margin-right: 2rem;
}

.friends-card-movies {
    max-height: 20rem;
    overflow: scroll;
}

.friends-card-movies::-webkit-scrollbar {
    width: 0.5rem;
}
.friends-card-movies::-webkit-scrollbar-thumb {
    background-color: #c3e2dc;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .friends-card img {
        max-width: 20rem;
        height: 22rem;
    }
}
@media screen and (max-width: 889px) {
    .friends-card {
        max-width: 48rem;
    }
    .container-friends-card {
        flex-direction: row;
        padding-top: 10rem;
        gap: 6rem;
    }
}

@media (width <= 600px) {
    .container-friends-card {
        flex-direction: row;
        gap: 14rem;
        padding: 18rem 2.5rem 10rem 2.5rem;
    }
    .friends-card {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 6rem;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .friends-card-content {
        flex-direction: column;
    }

    .friends-card-text h3 {
        margin-right: 0;
        font-size: 2.3rem;
    }

    .friends-card img {
        margin: -10rem 0 3rem 0;
        width: 100%;
        max-width: 100rem;
        height: 25rem;
    }

    .friends-card-text p {
        max-width: 36rem;
        font-size: 1.5rem;
        margin-right: 0;
    }
}

@media (width <= 440px) {
    .friends-card img {
        height: 45vw;
        width: 45vw;
        border-radius: 50%;
        margin: -14rem 0 3rem 0;
    }
}

/* COMPONENTE CARD PELÍCULAS */

.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    padding: 8rem 5rem;
}

.movie-container {
    width: 30rem;
    margin-bottom: 2rem;
}

.movie-card {
    border-radius: 3rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 44rem;
    cursor: pointer;
    background-color: #000;
    image-rendering: auto;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: auto;
}

.movie-card:hover .overlay {
    opacity: 1;
}

.poster-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backdrop-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 40rem;
    padding-top: 2rem;
    justify-content: flex-start;
}

.movie-card:hover .movie-details {
    opacity: 1;
}

.movie-details p {
    margin: 0.5rem 0;
    text-align: left;
    font-size: 1.2rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: auto;
}

.movie-details.expanded p {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.cta-secondary {
    background-color: #f37136;
    background: #f37136;
    color: white;
    border-radius: 2rem;
    transition: all 0.2s;
    font-family: Poppins-Regular, sans-serif;
    color: white;
    padding: 0.9rem 1.6rem;
    cursor: pointer;
    margin-top: 1rem;
    display: block;
    width: 100%;
    text-align: center;
}

.movie-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 2rem;
    color: #093266;
    height: 13rem;
}

.movie-card-title h3 {
    margin: 1rem 0;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-card-head {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 8rem;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 3rem 6rem 3rem;
    gap: 6rem;
}

.button-pagination {
    padding: 0.9rem 8rem;
    background: #f37136;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    border: none;
    transition: all 0.2s;
    font-family: Poppins-SemiBold, sans-serif;
}

.button-pagination:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
    transition: 0.5s;
}

.button-pagination:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .pagination {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-content: center;
        flex-wrap: wrap;
    }
}

/* COMPONENTE BUSCAR */

.search-page {
    min-height: 50vh;
}

.search-add-content {
    padding: 5rem 0;
    max-width: 60rem;
    margin: 0 auto;
}

.search-add-content .search-input-wrapper input {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.7rem;
    border-radius: 2rem;
    border-color: #c3e2dc;
    background-color: #fff;
    font-family: Poppins-Regular, sans-serif;
    color: #093266;
}

.search-input-wrapper input:focus {
    box-shadow: 0 0 1rem #c3e2dc;
    border-color: #c3e2dc;
    outline: #c3e2dc;
}

.search-input-wrapper input::placeholder {
    color: #093266;
    opacity: 0.7;
    padding-left: 5rem;
}

.search-results {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.search-results li {
    list-style: none;
}

.search-result-card {
    display: flex;
    margin-bottom: 6rem;
    flex-direction: column;
    gap: 2rem;
}

.search-result-card .search-poster-wrapper img,
.filler-poster {
    border-radius: 2rem;
    margin-right: 1.5rem;
    display: block;
    width: 19rem;
    height: 27.3rem;
}

.search-result-card .info {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
    font-family: Raleway-SemiBold, sans-serif;
}

.search-result-card .info .title {
    font-size: 2rem;
    font-family: Raleway-SemiBold, sans-serif;
    color: #093266;
}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    margin: 0 1rem 0 2rem;
}

.search-icon input[type="text"] {
    padding-left: 10rem;
    padding-right: 10rem;
}

.search-overview {
    display: flex;
    justify-content: flex-start;
    font-family: Raleway-Regular, sans-serif;
    font-size: 1.4rem;
    color: #093266;
}

@media screen and (min-width: 425px) and (max-width: 659px) {
    .search-add-content {
        padding: 5rem 0;
        max-width: 40rem;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .search-add-content {
        padding: 5rem 0;
        max-width: 25rem;
        margin: 0 auto;
    }
}

/* MI PERFIL */

.container-text-profile {
    text-align: center;
    padding: 4rem 0rem 3rem 0rem;
}
.container-firsttext-profile {
    font-family: Raleway-ExtraLight, sans-serif;
    margin-right: 1rem;
    font-size: 4rem;
    color: #093266;
}
.container-secondtext-profile {
    font-family: PlayfairDisplay-Bold, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: #093266;
}
.container-text-info {
    font-family: Raleway-Regular, sans-serif;
    color: #093266;
    font-size: 1.6rem;
    line-height: 2rem;
}

.continer-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form {
    font-family: Poppins-Regular, sans-serif;
    color: #093266;
    font-size: 1.6;
}

.profile-form-text label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #093266;
    margin-bottom: 1rem;
}

.profile-form-text input {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.7rem;
    border-radius: 2rem;
    border-color: #c3e2dc;
    background-color: #fff;
    font-family: Poppins-Regular, sans-serif;
    color: #093266;
}

.profile-form-text input:focus {
    box-shadow: 0 0 1rem #c3e2dc;
    border-color: #c3e2dc;
    outline: #c3e2dc;
}

.profile-form-text input::placeholder {
    color: #cfcaca;
}

.button-profile {
    padding: 0.8rem 14rem;
    background: #f37136;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    border: none;
    transition: all 0.2s;
    font-family: Poppins-SemiBold, sans-serif;
}

.button-profile:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
    transition: 0.5s;
}

.button-profile:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #f37136;
}

.update-password h2 {
    font-family: Raleway-Bold, sans-serif;
    color: #093266;
    font-size: 2rem;
}

.update-password p {
    font-family: Raleway-Regular, sans-serif;
    color: #093266;
    font-size: 1.6rem;
    margin: 2rem 0 2rem 0;
    line-height: 2rem;
}

.update-password-text label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #093266;
    margin-bottom: 1rem;
}

.update-password-text input {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.7rem;
    border-radius: 2rem;
    border-color: #c3e2dc;
    background-color: #fff;
    font-family: Poppins-Regular, sans-serif;
    color: #093266;
}

.update-password-text input:focus {
    box-shadow: 0 0 1rem #c3e2dc;
    border-color: #c3e2dc;
    outline: #c3e2dc;
}

.update-password-text input::placeholder {
    color: #cfcaca;
}

.delete-user h2 {
    font-family: Raleway-Bold, sans-serif;
    color: #093266;
    font-size: 2rem;
}

.delete-user p {
    font-family: Raleway-Regular, sans-serif;
    color: #093266;
    font-size: 1.6rem;
    margin: 2rem 0 2rem 0;
    line-height: 2rem;
}

.button-delete {
    padding: 1.5rem 10.4rem;
    background: red;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    border: none;
    transition: all 0.2s;
    font-family: Poppins-SemiBold, sans-serif;
    text-transform: none;
    white-space: nowrap;
}

.button-delete:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fde3d7;
    color: #fff;
    transition: 0.5s;
}

.button-delete:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #f37136;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .button-delete {
        padding: 1.5rem 5rem;
    }
    .button-profile {
        padding: 0.9rem;
        text-align: center;
        display: inherit;
    }
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.footer-container {
    padding: 4% 5%;
    background-color: #c3e2dc;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    font-size: 1.4rem;
    margin-top: auto;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: Poppins-Regular, sans-serif;
    color: #093266;
}

.footer-link {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    color: #093266;
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 6rem;
}

/* COMPONENTE STARRATING */

.star-rating {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.star-icon.filled {
    color: #f8d12d;
}

.star-icon.half {
    color: #f8d12d;
}

.star-icon.empty {
    color: #f8d12d;
}

.stars {
    display: flex;
}

/* COMPONENTE USERFAVOURITESDETAIL */

.detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detail-content {
    background-color: #c3e2dc;
    padding: 3rem;
    border-radius: 3rem;
    max-width: 80rem;
    width: 90%;
    overflow-y: auto;
    max-height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.detail-content h2 {
    font-size: 2.6rem;
    font-family: Raleway-Bold, sans-serif;
    color: #093266;
}

.close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: transparent;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
    z-index: 1;
    color: #093266;
}

.user-movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    padding: 2rem 0;
}

.movie-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 3rem;
    border-radius: 3rem;
}

.movie-poster {
    width: 15rem;
    height: auto;
    border-radius: 2rem;
    flex-shrink: 0;
}

.details-movie {
    flex: 1;
    margin-left: 2rem;
}

.details-movie h3 {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0rem 0.5rem;
    color: #093266;
}

.details-movie p {
    font-size: 1.5rem;
    font-family: Raleway-Regular, sans-serif;
    color: #093266;
    line-height: 1.6;
    overflow-y: auto;
    max-height: 20rem;
    margin-bottom: 1rem;
}

.created-at {
    font-size: 1.5rem;
    color: #093266;
    font-family: Raleway-Regular, sans-serif;
}

@media screen and (max-width: 719px) {
    .movie-item {
        flex-direction: column;
        gap: 1rem;
    }
    .details-movie {
        margin: 0;
        text-align: center;
    }
}

/*LOADER*/

.spinner {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
}
.lds-spinner {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.lds-spinner div {
    transform-origin: 4rem 4rem;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0.3rem;
    left: 3.7rem;
    width: 0.6rem;
    height: 1.8rem;
    border-radius: 20%;
    background: #f37136;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 426px) {
    .lds-spinner {
        width: 8rem;
        height: 8rem;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -25%);
    }
}
